# Builds
build/
# Logs
logs
*.log
log/
# Arhive
*.zip
*.tar
*.rar
*.7z

# Packages lock
# *-lock.json

# Sublime
*.sublime-workspace

**/*.sh
**/*.txt
*.spec

# delphi
__history
__recovery
*.dproj.local
*.identcache
*.vlb
*.dcu
*_.json
settings.ini
programm.ini
desktop.ini
Desktop.ini
inno_setup/*.exe
node_modules/.bin
node_modules/innosetup-compiler
