name: Telegram Message
on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
        Name:
            description: Telegram Message
            required: true
            default: 'Telegram Message'
jobs:
  notify:
    name: Notify
    runs-on: ubuntu-latest
    steps:
      - name: Send Telegram Message on Push
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          disable_web_page_preview: false
          format: html
          message_file: assets/message.html